---
import config from 'virtual:starlight/user-config';
import { Icon } from '@astrojs/starlight/components';

const links = config.social || [];
---

{
	links.length > 0 && (
		<>
			{links.map(({ label, href, icon }) => (
				<a 
          href={href} 
          class="sl-flex"
          target="_blank"
          rel="me noopener noreferrer"
        >
					<span class="sr-only">{label}</span>
					<Icon name={icon} />
				</a>
			))}
		</>
	)
}

<style>
	a {
		color: var(--sl-color-text-accent);
		padding: 0.5em;
		margin: -0.5em;
	}
	a:hover {
		opacity: 0.66;
	}
</style>
